$main-color: #7ac751;
$bg-light-gray: #f7f8fa;
$span-gray: #757575;
$light-black: #2f2f2f;
$dark-gray: #555;
$h2-gray: #515151b5;
$border-gray: #e3e3e3c7;
$placeholder-gray: #b0b0b0;
$bg-light-gray: #f7f8fa;
$li-gray: #c2c2c2;
$price-gray: #cccccc;
$label-blue: #00b7f1;
$label-red: #ff6868;
