@import 'constants';
@import 'colors';
@import 'lib/base';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'extends';

.tippy-content {
  font-size: 1.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.15em 0.5em 0 !important;
}
